 <!--====================================================
                          Offert formulär  
  ======================================================--> 
  <!-- <section id="offert" class="contact-p1_  bg-gray" style="padding-bottom:3rem;padding-top:3rem; margin-left:0px; margin-right: 0px;" > -->
    <div class="container ">
      <div class="row  pt-5">
        <div class="col-md-12">
          <div class="contact-p1-cont">
            <h2>Skicka in din offertförfrågan</h2>
            <div class="heading-border-light"></div>          
          </div>
        </div>      
          
      </div>
    </div>
    <div class="container" >
        <div class="row  pb-5 con-form">
          
          <div class="col-12 col-md-8">         
              <label></label>
              <input type="text" name="full-name" placeholder="Namn" class="form-control">
              <label></label>
              <input type="text" name="full-name" placeholder="Företag" class="form-control">
              <label></label>
              <input type="text" name="email" placeholder="E-post" class="form-control">          
          </div>
          <div class="col-md-12">          
            <textarea name="" id="" placeholder="Underlag för offertförfrågan" class="form-control"></textarea>
          </div>
  
          <div class="col-12 col-md-8">   
            <div class="panel panel-default ">
              <div class="input-group image-preview">
                <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
                <span class="input-group-btn"> 
                  <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> 
                    <span class="glyphicon glyphicon-remove"></span> Clear 
                  </button>
                  <div class="btn btn-default image-preview-input"> 
                    <span class="glyphicon glyphicon-folder-open"></span> 
                    <span class="image-preview-input-title">Ladda upp underlag</span>
                    <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" />
                  </div> 
                </span>
              </div>
            </div>
          </div>
  
          <div class="col-md-12 sub-but">          
            <button class="btn btn-general btn-white mt-4" role="button">Skicka in </button>
          </div>
  
        </div>
    </div>
  <!-- </section> -->
