 
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head1 text-center">
    <div class="container">
      <h1 class="wow fadeInUp" data-wow-delay="0.1s">Kontakta oss</h1>
      <h2 style="color: #fff;"><i class="fa fa-phone"></i> 0321-53 02 80 </h2>
       <p> Växel öppen:<br>
        Mån-tordag kl 07:30- 16:00 <br>
        fredag kl 07:30- 15:00 <br>
        </p>
    </div><!--/end container-->
  </div> 

<!--====================================================
                      CONTACT-P1  sälj
======================================================--> 
<app-salj></app-salj>>

<!--====================================================
                      CONTACT-P1  Admin
======================================================--> 
<app-admin></app-admin>

<section id="comp-offer" class="team-p2">
<div class="container">
    <div class="row">
    <div class="col-12 ">
        <h2>Produktion</h2>
        <div class="heading-border-light"></div> 
    </div>
    </div>  
    <div class="row">  
    <div class="col-12 ">
        <div class="single-news-img text-center">
        <img src="../../assets/img/personal/produktion_group.jpg" alt="" class="img-fluid">
        </div>
    </div>
    </div>
</div>
</section>
<!--====================================================
                      CONTACT-P1  
======================================================--> 
<section id="contact-p1" class="contact-p1" style="background-color: rgb(240, 240, 240,.5); margin-left:0px; margin-right: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="contact-p1-cont">
            <h3>TVEKA INTE, KONTAKTA OSS!</h3>
            <div class="heading-border-light"></div> 
            <p>
              Växel öppen:<br>
              Mån-tordag kl 07:30- 16:00 <br>
              fredag kl 07:30- 15:00 <br>
              Övrig tid omkoppling till Johnys Abrahamssons mobil</p>
          </div>
        </div>
        <div class="col-md-4"> 
          <div class="contact-p1-cont2"> 
            <h4>Address</h4>
            <div class="heading-border-light"></div> 
            <address class="address-details-f">
              Timmele Takstolsfabrik<br> 
              Gunnarsgårdsvägen 12,<br>
              523 72 Timmele  <br>
              Växel 0321-53 02 80<br>
              Fax 0321-53 02 89<br>
              Email: <a href="mailto:info@timmele.com" class="">info@timmele.com</a>
            </address>
           
          </div>
        </div>  
      </div>
    </div>
  
    <app-kontakt-form></app-kontakt-form>
    
  </section>


<!--====================================================
                     MAP
======================================================--> 
  <section id="contact-add">
    <div id="map">
      <div class="map-responsive">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3569.813716955433!2d13.418313405195113!3d57.858624988194386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465a901a665bfb79%3A0xff8af3fd0e587fe!2sTimmele%20Takstolsfabrik!5e0!3m2!1ssv!2sse!4v1623188120686!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div> 
  </section>