  
<!--====================================================
                         HOME
======================================================-->
<section id="home" class=" mt-3" style="background-color: #ccc;">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel"> 
      <!-- Carousel items -->
      <div class="carousel-inner">
          <div class="carousel-item active slides">
            <div class="overlay"></div>
            <div class="slide-1"></div>
              <div class="hero ">
                <hgroup class="wow fadeInUp">
                    <h1>tillverkning av:<br>  <span ><a href="" class="typewrite" data-period="6000" data-type='[ " Takstolar", " Maskinhallar"]'>
                      <span class="wrap"></span></a></span> </h1>        
                    <h3>Vi är specialister på tillvekning av takstolar för den svenska marknaden</h3>
                </hgroup>
                <button class="btn btn-general btn-white_box wow fadeInUp btn-outline-light" role="button">Begär offert!</button>
              </div>           
          </div> 
      </div> 
    </div> 
  </section> 

<!--====================================================
                      ABOUT
======================================================-->
  <div class="row mt-3" style="background-color: rgb(240, 240, 240,.5); margin-left:0px; margin-right: 0px;">
    <div class="container" >
      <div class="row title-bar">
        <div class="col-md-12">
          <h1 class="wow fadeInUp">Välkommen till Timmele takstolsfabrik AB</h1>
       
          <div class="heading-border"></div>
          <p class="wow fadeInUp" data-wow-delay="0.4s">
            Vi är specialister på tillvekning av takstolar för den svenska marknaden.</p><p>För oss är inte takstolar en bisyssla, vilket innebär att vi alltid strävar efter att vara bäst i allt, från konstruktion och tekniska lösningar på komplicerade tak till att leverera rätt saker i rätt tid.</p><p>
             Vi tar ett helhetsansvar för ert tak, balkar, avväxlingar, kortlingar och givetvis att alla takstolar är med i leveransen och inget skall justerkapas på plats. Ett avtal med SP (Sveriges Tekniska Forskningsinstitut) ger oss rätt att CE-märka våra takstolar, detta för att säkerställa kvalité på både konstruktion och produkten. CE märkning är ett krav från 1 oktober 2010.
             <!-- <br><img src="../assets/img/client/avatar-2.jpg" style="height:4rem;"> Johnny Abrahamsson -->
            </p>
             
          <div class="title-but"><button class="btn btn-general btn-green" role="button">Läs mer om oss</button></div>
        </div>
      </div>
    </div>  
  </div>
    <div class="container">
    <div class="row title-bar">
      <div class="col-md-12">
        <h1 class="wow fadeInUp">Vår tillverkning</h1>      
        
      </div>
      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s"> 
        <div class="story-descb">
            <img src="../assets/img/takstol.jpg" class="img-fluid" alt="...">
            <h6>Takstolar</h6>
            <p>Se vårt sortement av takstolstyper. <br> Alla våra takstolar är CE-märkta enligt EN14250.</p>
            <a href="#"><i class="fa fa-arrow-circle-o-right"></i> Tillverkning och takstolstyper</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s"> 
        <div class="story-descb">
            <img src="../assets/img/maskinhall2.jpg" class="img-fluid" alt="...">
            <h6>Maskinhallar</h6>
            <p>Maskinhallen utföres av fribärande träkonstruktion bestående av fackverk och pelare. Hallen kan tillverkas i valfria mått.</p>
            <a href=""><i class="fa fa-arrow-circle-o-right"></i> Mer om våra maskinhallar</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s"> 
        <div class="story-descb">
            <img src="../assets/img/stomme.jpg" class="img-fluid" alt="...">
            <h6>Husstomme</h6>
            <p>Vi tillverkar färdigkapade husstommar. Stommar kan tillverkas i valfria mått enligt kunds önskemål.</p>
            <a href=""><i class="fa fa-arrow-circle-o-right"></i> Vår tillverkning av husstommar</a>
        </div>
      </div>  
      <div class="heading-border"></div>                      
    </div>
  
  </div> 

 
<!--====================================================
                      OFFER
======================================================-->
  <section id="comp-offers ">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-12 desc-comp-offer wow fadeInUp" data-wow-delay="0.2s">
          <h2>Företaget</h2>
          <div class="heading-border-light"></div> 
          <button class="btn btn-general btn-green" role="button">Offerter</button>
          <button class="btn btn-general btn-white" role="button">Vanliga Frågor</button>
        </div>
        <div class="col-lg-3 col-sm-4 desc-comp-offer wow fadeInUp" data-wow-delay="0.4s">
          <div class="desc-comp-offer-cont">
            <div class="thumbnail-blogs">
                <div class="caption">
                  <i class="fa fa-chain"></i>
                </div>
                <img src="../assets/img/kontaktaoss.jpg" class="img-fluid" alt="...">
            </div>
            <h3>Kontakta oss</h3>
            <p class="desc">Se vårt sortement av takstolstyper. Våra takstolar är CE märkta vilket är ett krav från 1 oktober 2010</p>
            <a href="#"><i class="fa fa-arrow-circle-o-right"></i> Kontakta oss</a>
          </div>
        </div>          
        <div class="col-lg-3 col-sm-4 desc-comp-offer wow fadeInUp" data-wow-delay="0.6s">
          <div class="desc-comp-offer-cont">
            <div class="thumbnail-blogs">
                <div class="caption">
                  <i class="fa fa-chain"></i>
                </div>
                <img src="../assets/img/frakt.jpg" class="img-fluid" alt="...">
            </div>              
            <h3>Frakt och montering</h3>
            <p class="desc">Maskinhallen utföres av fribärande träkonstruktion bestående av fackverk och pelare. </p>
                
            <a href="#"><i class="fa fa-arrow-circle-o-right"></i> Frakt och montering</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 desc-comp-offer wow fadeInUp" data-wow-delay="0.8s">
          <div class="desc-comp-offer-cont">
            <div class="thumbnail-blogs">
                <div class="caption">
                  <i class="fa fa-chain"></i>
                </div>
                <img src="../assets/img/miljo.jpg" class="img-fluid" alt="...">
            </div>
            <h3>Kvalitét & miljö</h3>
            <p class="desc">Vi tillverkar färdigkapade husstommar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#"><i class="fa fa-arrow-circle-o-right"></i> Kvalitét & miljö</a>
          </div>
        </div>
      </div>
    </div>
  </section>