@import "../../../assets/css/faq.css"; 
@import "../../../assets/css/contact.css";
@import "../../../assets/admin/css/form.css";
@import "../../../assets/css/news.css"; 
@import "../../../assets/css/careers.css";
@import "../../../assets/css/about.css"; 
@import "../../../assets/css/project.css";
@import "../../../assets/font-awesome-4.7.0/css/font-awesome.min.css";

.padt-3{
    padding-top:3rem;
}
.padt-6{
    padding-top:6rem;
}
.padb-3{
    padding-bottom:3rem;
}
.padb-6{
    padding-bottom:6rem;
}